* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#utility-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#search-container {
    margin-top: 10px;
}

header {
    background-color: #18708f;
    color: rgb(189, 183, 201);
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}
#header-content {
    margin-top: 0;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header-content h1 {
    flex-grow: 2;
    text-align: center;
}
nav ul li {
    margin: 0 15px;
}
    
nav ul {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    background-color: #07132e;
    padding: 10px 0;
}

nav ul li a {
    color: rgb(239, 235, 236);
    text-decoration: none;
    padding: 15px 25px;
    font-size: 1.25rem;
}

nav ul li a:hover {
    background-color: #2e8b6b;
}

#main-content {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.spacer {
    margin-top: 1em;
  }

.text-image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4em;
    border: 2px solid #070d31;
    padding: 20px;
}

.text-image-wrapper.reverse {
    flex-direction: row-reverse;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 3em;
    border: 2px solid #070d31;
    padding: 20px;
}

.image-section {
    width: 28%;
    height: auto;
    margin-left: 10px;
}

.text-content {
    font-size: 2rem;
    width: 70%;
    margin-left: 40px;
}
.text-image-wrapper h2, .text-image-wrapper h3 {
    font-size: 2rem;
    margin-bottom: 1em;
}

.text-image-wrapper p {
    font-size: 1,5rem; 
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

.dark-mode {
    background-color: #161414;
    color: #cccccc;
}

.dark-mode header,
.dark-mode footer {
    background-color: #1c1c1c;
}

.closing-remark {
    text-align: center;
    padding-top: 1em;
}

@media (max-width: 768px) {
    .text-image-wrapper,
    .text-image-wrapper.reverse {
        flex-direction: column;
    }

    .image-section,
    .text-content {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }
}
